.chartButtons {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}
.buttonsWrapper {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    @media all and (max-width: 470px) {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}