.header {
    padding: 0% 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 100px;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
        max-width: 90px;
    }
    h1 {
        margin: 0;
        color: white;
        font-weight: 600;
    }
}
.buttons {
    display: flex;
}
.selectWrapper, .authBtnWrapper {
    margin: 0px 10px;
}
.authModalWrapper {
    position: absolute;
}